services:
  - type: web
    name: categorizador-backend
    env: docker
    rootDir: backend
    dockerfilePath: Dockerfile
    plan: free
    envVars:
      - key: PORT
        value: 3001
      - key: NODE_VERSION
        value: 22.0.0
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: OPENROUTER_API_KEY
        sync: false
      - key: R2_ENDPOINT_URL
        sync: false
      - key: R2_ACCESS_KEY
        sync: false
      - key: R2_SECRET_KEY
        sync: false
      - key: R2_BUCKET_NAME
        value: categorizar-docs-prod
      - key: CORS_ORIGIN
        fromService:
          type: static
          name: categorizador-frontend
          property: url
  - type: static
    name: categorizador-frontend
    env: static
    rootDir: frontend
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    routes:
      - type: rewrite
        source: /**
        destination: /index.html
    envVars:
      - key: VITE_API_URL
        fromService:
          type: web
          name: categorizador-backend
          envVarKey: RENDER_EXTERNAL_URL
        transform: value + "/api/"