@import "tailwindcss";

/* Define cor de fundo global da aplicação */
html, body, #root {
  background-color: black;
}

/* Remove fundo branco padrão do autofill do Chrome */
input.login-input:-webkit-autofill,
input.login-input:-webkit-autofill:hover,
input.login-input:-webkit-autofill:focus,
input.login-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important; 
  transition: background-color 5000s ease-in-out 0s;
}